
<div class="d-flex justify-content-around">
<div>
<strong>Student</strong>
<br />
<br />
<p>Student Id : - </p>
<p>Student FirstName: - </p>
<p>Student LastName: - </p>
<p>Student Branch : - </p>
<p>Student EmailID: - </p>
<p>Student PhoneNumber: - </p>
<p>Student Address : - </p>
</div>
<div>
<strong>Details</strong>
<br />
<br />
<p>{{viewData.id}}</p>
<p>{{viewData.firstName}}</p>
<p>{{viewData.lastName}}</p>
<p>{{viewData.branch}}</p>
<p>{{viewData.emailID}}</p>
<p>{{viewData.phoneNumber}}</p>
<p>{{viewData.address}}</p>
</div>
</div>



<div mat-dialog-action [align]="'end'">
    
    
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>