<div>
    <img [src]="image" alt="bjhdsg">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>LoginForm</h1>
                </div>
                <form [formGroup]="loginForm">
                    <div class="example-container">
                        <mat-form-field appearance="fill">
                          <mat-label>Enter your email</mat-label>
                          <input matInput placeholder="pat@example.com" formControlName="emailID" required>
                         
                        </mat-form-field>
                      </div>
                      <div class="example-container">
                        <mat-form-field appearance="fill" class="example-full-width">
                          <mat-label>Enter your PassWord</mat-label>
                          <input matInput type="password" formControlName="passWord" [type]=" hide ? 'passWord':'text'" required>
                          <i class="material-icons" matSuffix  (click)="hide = ! hide">
                              {{ hide ? 'visibility'  : 'visibility_off'}}
                          </i>
                        </mat-form-field>
                      </div>
                </form>
                <div mat-dialog-action [align]="'end'">
                    <button style="margin-right: 10px;" mat-button (click)="resetForm()">Reset</button>
                    <button mat-button (click)="login()">login</button>
                </div>
            </div>
        </div>
    </div>
</div>

